<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:mvc="http://www.springframework.org/schema/mvc" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:p="http://www.springframework.org/schema/p" 
xmlns:context="http://www.springframework.org/schema/context"
xmlns:task="http://www.springframework.org/schema/task"  
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.2.xsd 
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
http://www.springframework.org/schema/task 
http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 	-->

	
	<context:component-scan base-package="com.qianmo.gawa"/>
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >
	     支持@DateTimeFormat(pattern="yyyy-MM-dd")等注解  2015年7月31日11:07:03 liuyx
	     <property name="webBindingInitializer">  
	    <bean class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">  
	        <property name="conversionService">  
	            <bean class="org.springframework.format.support.FormattingConversionServiceFactoryBean"></bean>  
	        </property>  
	    </bean>  
	    </property>
 	</bean> -->
	
	
	
	
	<!-- 识别@Scheduled注解 -->
	<task:annotation-driven scheduler="qbScheduler" mode="proxy"/>  
    <task:scheduler id="qbScheduler" pool-size="10"/> 


 	 
 	
 	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀  -->  
	<!-- <mvc:annotation-driven
		content-negotiation-manager="contentNegotiationManager" />
	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="favorPathExtension" value="false" />
	</bean>-->
	
	
    

	 <bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
<!-- 	  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/" p:suffix=".jsp" /> -->
	

</beans>