.icon-system-32{
	background:url('system_32.png') no-repeat center center;
}
.icon-user-32{
	background:url('user_32.png') no-repeat center center;
}
.icon-derivation-32{
	background:url('derivation_32.png') no-repeat center center;
}
.icon-flow-32{
	background:url('flow2_32.png') no-repeat center center;
}
.icon-file-32{
	background:url('file_32.png') no-repeat center center;
}
.icon-help-32{
	background:url('help_32.png') no-repeat center center;
}
.icon-cached-32{
	background:url('cached_32.png') no-repeat center center;
}
.icon-property-32{
	background:url('property_32.png') no-repeat center center;
}
.icon-exit-32{
	background:url('exit_32.png') no-repeat center center;
}

.icon-stop-32{
	background:url('stop_32.png') no-repeat center center;
}

.icon-exit-24{
	background:url('exit_24.png') no-repeat center center;
}
.icon-close-24{
	background:url('close_24.png') no-repeat center center;
}

.icon-checked-16{
	background:url('checked3_16.png') no-repeat center center;
}
.icon-checked-no-16{
	background:url('checked_no_16.png') no-repeat center center;
}
.icon-homepage-16{
	background:url('homepage_16.png') no-repeat center center;
}
.icon-derivation-16{
	background:url('derivation_16.png') no-repeat center center;
}
.icon-instructions-16{
	background:url('instructions_16.png') no-repeat center center;
}
.icon-exit-16{
	background:url('exit_16.png') no-repeat center center;
}
.icon-skin-16{
	background:url('skin_16.png') no-repeat center center;
}
.icon-close-16{
	background:url('close_16.png') no-repeat center center;
}
.icon-close1-16{
	background:url('close1_16.png') no-repeat center center;
}
.icon-direct-16{
	background:url('direct_16.png') no-repeat center center;
}
.icon-user-16{
	background:url('user_16.png') no-repeat center center;
}
.icon-users-16{
	background:url('users_16.png') no-repeat center center;
}
.icon-top-16{
	background:url('top_16.png') no-repeat center center;
}
.icon-bottom-16{
	background:url('bottom_16.png') no-repeat center center;
}
.icon-left-16{
	background:url('left_16.png') no-repeat center center;
}
.icon-right-16{
	background:url('right_16.png') no-repeat center center;
}
.icon-folder-16{
	background:url('folder1_16.png') no-repeat center center;
}
.icon-recovery-16{
	background:url('recovery_16.png') no-repeat center center;
}
.icon-rename-16{
	background:url('rename_16.png') no-repeat center center;
}
.icon-expand-16{
	background:url('expand_16.png') no-repeat center center;
}
.icon-collapse-16{
	background:url('collapse_16.png') no-repeat center center;
}
.icon-download-16{
	background:url('download_16.png') no-repeat center center;
}
.icon-derivation-data-16{
	background:url('derivation_data_16.png') no-repeat center center;
}
.icon-derivation-file-16{
	background:url('derivation_file_16.png') no-repeat center center;
}
.icon-filemanager-16{
	background:url('filemanager_16.png') no-repeat center center;
}

.icon-file-img-16{
	background:url('file_img_16.png') no-repeat center center;
}
.icon-file-emp-16{
	background:url('file1_16.png') no-repeat center center;
}
.icon-file-ori-16{
	background:url('file_ori_16.png') no-repeat center center;
}
.icon-file-sam-16{
	background:url('file_sam_16.png') no-repeat center center;
}
.icon-file-tem-16{
	background:url('file_tmp_16.png') no-repeat center center;
}
.icon-file-qus-16{
	background:url('file_qus_16.png') no-repeat center center;
}
.icon-hot-16{
	background:url('hot_16.png') no-repeat center center;
}
.icon-items-16{
	background:url('items_16.png') no-repeat center center;
}
.icon-version-16{
	background:url('version_16.png') no-repeat center center;
}
.jpg-banner-1{
	background:url('banner.png') no-repeat center left;
}
.gif-banner-1{
	background:url('banner.gif') no-repeat center center;
}